* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

p {
    margin-bottom: 1.2em;
}

body {
    background-color: #f4f4f4;
    color: #fff004;
    font-family: sans;
}

strong {
}

div {

}

a {
    color: #a11;
}

img {
    display: inline-block;
    margin-bottom:0px;
    margin-top:auto;
}

h1 {
    color: #5e0000;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 110%;
    text-align:center;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 100%;
    text-decoration: underline;
}
#gameStatus {
    height: 2em;
    width: 600px;
    padding: 10px;
    background-color: #5e0000;
    font-size: 70%;
}

#outerGame {
    position: relative;
}

#cheaterButtons {
    position: absolute;
    top: 5px;
    left: 5px;
}

.hiddenElem {
    visibility: hidden;
}

#game {
    position: abolute;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 600px;
    height: 500px;
    padding: 10px;
}

#lvl {
    width: 70%;
    background-color: #5e0000;
    display: inline-block;
    vertical-align: middle;
    height: 100%;

}

#shards {
    width: 160px;
    background-color: #5e0000;
    right: 0px;
    left: auto;
    display: inline-block;
    font-size: 200%;
    font-weight: bold;
}

.urgentShard {
    background-color: #f24f00 !important;
    color: #5e0000;
}

#howto {
    background-color: #fff;
    color: #5e0000;
    width: 600px;
    left: 100px;
    padding: 10px;
}
#about {
    background-color: #f24f00;
    width: 600px;
    left: 100px;
    padding: 10px;
}

#outer {
    width: 90%;
    display: inline-block;
}

#inner {
    width:620px;
    margin:30px auto;
}

#jumpTo {
    width: 300px;
    margin: 0px; auto;
    color: #5e0000;
}

#jumpCode {
    width: 60px;
}

#inner2 {
    width:620px;
    margin: 30px auto;
}

